<div class="product-catalog" id="catalog-pod">
  <h4>Pods Descartáveis</h4>
  <div class="product-list">
    <div class="product-card" *ngFor="let pod of pod">
      <img [src]="pod.imageUrl" alt="{{ pod.name }}" class="product-image" />
      <p>{{ pod.name }}</p>
      <p>R$ {{ pod.price.toFixed(2) }}</p>
      <a class="buy-button" target="_blank" href="https://api.whatsapp.com/send?phone=5511997630847&text=Ola,%20gostaria%20de%20realizar%20pedido%20de%20pod">Comprar</a>
    </div>
  </div>
</div>
