<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="logo.png" alt="Logo" class="footer-logo-img" width="200px"/>
    </div>
    <div class="footer-links">
      <h6>Links</h6>
      <ul>
        <li><a (click)="goToHome()">Home</a></li>
        <li><a (click)="scrollToPods()">Pods Descartáveis</a></li>
        <li><a (click)="scrollTogEssencias()">Essências</a></li>
        <li><a (click)="scrollTogCarvao()">Carvão</a></li>
        <li><a (click)="scrollTogAluminio()">Alumínio</a></li>
        <li><a (click)="scrollTogFogareiro()">Fogareiro</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h6>Contato</h6>
      <p>(11) 99763-0847</p>
    </div>
    <div class="footer-social">
      <h6>Redes Sociais</h6>
      <a href="https://www.instagram.com/akbarhookahtab" target="_blank">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Akbar Hookah Tabacaria. Todos os direitos reservados.
      <a href="https://www.instagram.com/leticiayoussefalmeida" target="_blank" class="instagram">
        <i class="fab fa-instagram fa-lg"></i> leticiayoussefalmeida
      </a>
    </p>
  </div>
</footer>
